<style>
    @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
</style>
<div class="col-lg-6" style="font-family: 'Belanosima', sans-serif!important; font-size: 30px; text-decoration: none; color: #111fe0;">
  VariedadesEliza
</div>
<h2 class="text-center" style="font-family: 'Belanosima', sans-serif!important; font-size: 30px; color: #111fe0; text-transform: uppercase;">Productos</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #111fe0;; font-size: large;">Nombre Producto</th>
        <th scope="col" style="color: #111fe0;; font-size: large;">Precio</th>
        <th scope="col" style="color: #111fe0;; font-size: large;">stock</th>
        <th scope="col" style="color: #111fe0;; font-size: large;">Categoria</th>
        <th scope="col" style="color: #111fe0;; font-size: large;">Disponible</th>
      </tr>
    </thead>
    <tbody>
        {% for item in queryset %}
      <tr>
        <th>{{item.product_name}}</th>
        <td>{{item.price}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.category.category_name}}</td>
        <td>{% if item.is_available%}Sí{% else %}No{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>